body {
  font-family: var(--t-base);
  color: var(--tc-base);
  background-color: var(--bgc-body);
}

/*
Accessibility (see also form inputs and buttons)
*/

:focus-visible {
  outline: 2px dotted black;
  box-shadow: 0 0 0 2px white;
  /* for improved accessibility over dark backgrounds */
}

.visually-hidden:not(:focus):not(:active),
.screen-reader-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}