@layer bl-base {
  html {
    color-scheme: light dark;

    &.theme-light {
      color-scheme: light;
    }

    &.theme-dark {
      color-scheme: dark;
    }
  }

  body {
    container-type: inline-size;
    font-family: var(--t-default);
    font-size: var(--t-base);
    color: var(--tc-base);
    background-color: var(--bgc-body);
  }
}
