/*
Classes:
.b-* = border color
.t-* =text color
.bg-* = background color
.hover\: = hover (mouseover) state

Variables:
--bc = border color
--bl = border lightness
--tc = text color
--tl = text lightness
--bgc = background color
--bgl = background lightness
*/

@layer colors {
  [class*="b-"] {
    --bl: var(--l500);
  }

  [class*="t-"] {
    --tl: var(--l500);
  }

  [class*="bg-"] {
    --bgl: var(--l500);
  }

  /* Border colors */

  .b-blue,
  .hover\:b-blue:hover {
    --bc: var(--blue);
    border-color: var(--bc);
  }

  .b-green,
  .hover\:b-green:hover {
    --bc: var(--green);
    border-color: var(--bc);
  }

  .b-amber,
  .hover\:b-amber:hover {
    --bc: var(--amber);
    border-color: var(--bc);
  }

  .b-red,
  .hover\:b-red:hover {
    --bc: var(--red);
    border-color: var(--bc);
  }

  .b-gray,
  .hover\:b-gray:hover {
    --bc: var(--gray);
    border-color: var(--bc);
  }

  /* Text colors */

  .t-blue,
  .hover\:t-blue:hover {
    --tc: var(--blue);
    color: var(--tc);
  }

  .t-green,
  .hover\:t-green:hover {
    --tc: var(--green);
    color: var(--tc);
  }

  .t-amber,
  .hover\:t-amber:hover {
    --tc: var(--amber);
    color: var(--tc);
  }

  .t-red,
  .hover\:t-red:hover {
    --tc: var(--red);
    color: var(--tc);
  }

  .t-gray,
  .hover\:t-gray:hover {
    --tc: var(--gray);
    color: var(--tc);
  }

  /* Background colors */

  .bg-blue,
  .hover\:bg-blue:hover {
    --bgc: var(--blue);
    background: var(--bgc);
  }

  .bg-green,
  .hover\:bg-green:hover {
    --bgc: var(--green);
    background: var(--bgc);
  }

  .bg-amber,
  .hover\:bg-amber:hover {
    --bgc: var(--amber);
    background: var(--bgc);
  }

  .bg-red,
  .hover\:bg-red:hover {
    --bgc: var(--red);
    background: var(--bgc);
  }

  .bg-gray,
  .hover\:bg-gray:hover {
    --bgc: var(--gray);
    background: var(--bgc);
  }
}

@layer color-lightness {
  /* Border */

  [class*="b-100"],
  [class*="b-200"],
  [class*="b-300"],
  [class*="b-400"],
  [class*="b-500"],
  [class*="b-600"],
  [class*="b-700"],
  [class*="b-800"],
  [class*="b-900"] {
    border-color: color-mix(in OKLAB, var(--bc), var(--bl));
  }

  .b-dark-invert {
    &[class*="b-100"],
    &[class*="b-200"],
    &[class*="b-300"],
    &[class*="b-400"],
    &[class*="b-500"],
    &[class*="b-600"],
    &[class*="b-700"],
    &[class*="b-800"],
    &[class*="b-900"] {
      border-color: light-dark(
        color-mix(in OKLAB, var(--bc), var(--bl)),
        color-mix(in OKLAB, var(--bc), var(--bli))
      );
    }
  }

  .b-100,
  .hover\:b-100:hover {
    --bl: var(--l100);
    --bli: var(--l100i);
  }

  .b-200,
  .hover\:b-200:hover {
    --bl: var(--l200);
    --bli: var(--l200i);
  }

  .b-300,
  .hover\:b-300:hover {
    --bl: var(--l300);
    --bli: var(--l300i);
  }

  .b-400,
  .hover\:b-400:hover {
    --bl: var(--l400);
    --bli: var(--l400i);
  }

  .b-500,
  .hover\:b-500:hover {
    --bl: var(--l500);
    --bli: var(--l500i);
  }

  .b-600,
  .hover\:b-600:hover {
    --bl: var(--l600);
    --bli: var(--l600i);
  }

  .b-700,
  .hover\:b-700:hover {
    --bl: var(--l700);
    --bli: var(--l700i);
  }

  .b-800,
  .hover\:b-800:hover {
    --bl: var(--l800);
    --bli: var(--l800i);
  }

  .b-900,
  .hover\:b-900:hover {
    --bl: var(--l900);
    --bli: var(--l900i);
  }

  /* Text */

  [class*="t-100"],
  [class*="t-200"],
  [class*="t-300"],
  [class*="t-400"],
  [class*="t-500"],
  [class*="t-600"],
  [class*="t-700"],
  [class*="t-800"],
  [class*="t-900"] {
    color: color-mix(in OKLAB, var(--tc), var(--tl));
  }

  .t-dark-invert {
    &[class*="t-100"],
    &[class*="t-200"],
    &[class*="t-300"],
    &[class*="t-400"],
    &[class*="t-500"],
    &[class*="t-600"],
    &[class*="t-700"],
    &[class*="t-800"],
    &[class*="t-900"] {
      color: light-dark(
        color-mix(in OKLAB, var(--tc), var(--tl)),
        color-mix(in OKLAB, var(--tc), var(--tli))
      );
    }
  }

  .t-100,
  .hover\:t-100:hover {
    --tl: var(--l100);
    --tli: var(--l100i);
  }

  .t-200,
  .hover\:t-200:hover {
    --tl: var(--l200);
    --tli: var(--l200i);
  }

  .t-300,
  .hover\:t-300:hover {
    --tl: var(--l300);
    --tli: var(--l300i);
  }

  .t-400,
  .hover\:t-400:hover {
    --tl: var(--l400);
    --tli: var(--l400i);
  }

  .t-500,
  .hover\:t-500:hover {
    --tl: var(--l500);
    --tli: var(--l500i);
  }

  .t-600,
  .hover\:t-600:hover {
    --tl: var(--l600);
    --tli: var(--l600i);
  }

  .t-700,
  .hover\:t-700:hover {
    --tl: var(--l700);
    --tli: var(--l700i);
  }

  .t-800,
  .hover\:t-800:hover {
    --tl: var(--l800);
    --tli: var(--l800i);
  }

  .t-900,
  .hover\:t-900:hover {
    --tl: var(--l900);
    --tli: var(--l900i);
  }

  /* Background */

  [class*="bg-100"],
  [class*="bg-200"],
  [class*="bg-300"],
  [class*="bg-400"],
  [class*="bg-500"],
  [class*="bg-600"],
  [class*="bg-700"],
  [class*="bg-800"],
  [class*="bg-900"] {
    background: color-mix(in OKLAB, var(--bgc), var(--bgl));
  }

  .bg-dark-invert {
    &[class*="bg-100"],
    &[class*="bg-200"],
    &[class*="bg-300"],
    &[class*="bg-400"],
    &[class*="bg-500"],
    &[class*="bg-600"],
    &[class*="bg-700"],
    &[class*="bg-800"],
    &[class*="bg-900"] {
      background-color: light-dark(
        color-mix(in OKLAB, var(--bgc), var(--bgl)),
        color-mix(in OKLAB, var(--bgc), var(--bgli))
      );
    }
  }

  .bg-100,
  .hover\:bg-100:hover {
    --bgl: var(--l100);
    --bgli: var(--l100i);
  }

  .bg-200,
  .hover\:bg-200:hover {
    --bgl: var(--l200);
    --bgli: var(--l200i);
  }

  .bg-300,
  .hover\:bg-300:hover {
    --bgl: var(--l300);
    --bgli: var(--l300i);
  }

  .bg-400,
  .hover\:bg-400:hover {
    --bgl: var(--l400);
    --bgli: var(--l400i);
  }

  .bg-500,
  .hover\:bg-500:hover {
    --bgl: var(--l500);
    --bgli: var(--l500i);
  }

  .bg-600,
  .hover\:bg-600:hover {
    --bgl: var(--l600);
    --bgli: var(--l600i);
  }

  .bg-700,
  .hover\:bg-700:hover {
    --bgl: var(--l700);
    --bgli: var(--l700i);
  }

  .bg-800,
  .hover\:bg-800:hover {
    --bgl: var(--l800);
    --bgli: var(--l800i);
  }

  .bg-900,
  .hover\:bg-900:hover {
    --bgl: var(--l900);
    --bgli: var(--l900i);
  }
}

@layer color-other {
  /* Colors - other */

  .bg-transparent:not(:hover) {
    background: transparent;
  }

  .t-white,
  .hover\:t-white:hover {
    color: white;
  }
  .t-white.t-dark-invert,
  .hover\:t-white.t-dark-invert:hover {
    color: light-dark(white, black);
  }

  .b-white,
  .hover\:b-white:hover {
    border-color: white;
  }
  .b-white.b-dark-invert,
  .hover\:b-white.b-dark-invert:hover {
    border-color: light-dark(white, black);
  }

  .bg-white,
  .hover\:bg-white:hover {
    background: white;
  }
  .bg-white.bg-dark-invert,
  .hover\:bg-white.bg-dark-invert:hover {
    background: light-dark(white, black);
  }

  .t-black,
  .hover\:t-black:hover {
    color: black;
  }
  .t-black.t-dark-invert,
  .hover\:t-black.t-dark-invert:hover {
    color: light-dark(black, white);
  }

  .b-black,
  .hover\:b-black:hover {
    border-color: black;
  }
  .b-black.b-dark-invert,
  .hover\:b-black.b-dark-invert:hover {
    border-color: light-dark(black, white);
  }

  .bg-black,
  .hover\:bg-black:hover {
    background: black;
  }

  .bg-black.bg-dark-invert,
  .hover\:bg-black.bg-dark-invert:hover {
    background: light-dark(black, white);
  }
}
