/*
Classes:
.b-* = border color
.t-* =text color
.bg-* = background color
.hover\: = hover (mouseover) state

Variables:
--bc = border color
--bl = border lightness
--tc = text color
--tl = text lightness
--bgc = background color 
--bgl = background lightness
*/

@layer color-setup {

  [class*=b-] {
    --bl: var(--l500);
  }

  [class*=t-] {
    --tl: var(--l500);
  }

  [class*=bg-] {
    --bgl: var(--l500);
  }

  /* Border colors */

  .b-blue,
  .hover\:b-blue:hover {
    --bc: var(--blue);
    border-color: var(--bc);
  }

  .b-green,
  .hover\:b-green:hover {
    --bc: var(--green);
    border-color: var(--bc);
  }

  .b-amber,
  .hover\:b-amber:hover {
    --bc: var(--amber);
    border-color: var(--bc);
  }

  .b-red,
  .hover\:b-red:hover {
    --bc: var(--red);
    border-color: var(--bc);
  }

  .b-gray,
  .hover\:b-gray:hover {
    --bc: var(--gray);
    border-color: var(--bc);
  }

  /* Text colors */

  .t-blue,
  .hover\:t-blue:hover {
    --tc: var(--blue);
    color: var(--tc);
  }

  .t-green,
  .hover\:t-green:hover {
    --tc: var(--green);
    color: var(--tc);
  }

  .t-amber,
  .hover\:t-amber:hover {
    --tc: var(--amber);
    color: var(--tc);
  }

  .t-red,
  .hover\:t-red:hover {
    --tc: var(--red);
    color: var(--tc);
  }

  .t-gray,
  .hover\:t-gray:hover {
    --tc: var(--gray);
    color: var(--tc);
  }

  /* Background colors */

  .bg-blue,
  .hover\:bg-blue:hover {
    --bgc: var(--blue);
    background: var(--bgc);
  }

  .bg-green,
  .hover\:bg-green:hover {
    --bgc: var(--green);
    background: var(--bgc);
  }

  .bg-amber,
  .hover\:bg-amber:hover {
    --bgc: var(--amber);
    background: var(--bgc);
  }

  .bg-red,
  .hover\:bg-red:hover {
    --bgc: var(--red);
    background: var(--bgc);
  }

  .bg-gray,
  .hover\:bg-gray:hover {
    --bgc: var(--gray);
    background: var(--bgc);
  }
}

@layer color-shade {

  /* Border shades */

  [class*=b-100],
  [class*=b-200],
  [class*=b-300],
  [class*=b-400],
  [class*=b-500] {
    border-color: color-mix(in srgb, var(--bc) calc(var(--bl) * 2), white);
  }

  .theme-dark [class*=b-500],
  [class*=b-600],
  [class*=b-700],
  [class*=b-800],
  [class*=b-900] {
    border-color: color-mix(in srgb, var(--bc) calc((100% - var(--bl)) * 2), black);
  }

  .b-100,
  .hover\:b-100:hover {
    --bl: var(--l100);
  }

  .b-200,
  .hover\:b-200:hover {
    --bl: var(--l200);
  }

  .b-300,
  .hover\:b-300:hover {
    --bl: var(--l300);
  }

  .b-400,
  .hover\:b-400:hover {
    --bl: var(--l400);
  }

  .b-500,
  .hover\:b-500:hover {
    --bl: var(--l500);
  }

  .b-600,
  .hover\:b-600:hover {
    --bl: var(--l600);
  }

  .b-700,
  .hover\:b-700:hover {
    --bl: var(--l700);
  }

  .b-800,
  .hover\:b-800:hover {
    --bl: var(--l800);
  }

  .b-900,
  .hover\:b-900:hover {
    --bl: var(--l900);
  }

  /* Text shades */

  [class*=t-100],
  [class*=t-200],
  [class*=t-300],
  [class*=t-400],
  [class*=t-500] {
    color: color-mix(in srgb, var(--tc) calc(var(--tl) * 2), white);
  }

  .theme-dark [class*=t-500],
  [class*=t-600],
  [class*=t-700],
  [class*=t-800],
  [class*=t-900] {
    color: color-mix(in srgb, var(--tc) calc((100% - var(--tl)) * 2), black);
  }

  .t-100,
  .hover\:t-100:hover {
    --tl: var(--l100);
  }

  .t-200,
  .hover\:t-200:hover {
    --tl: var(--l200);
  }

  .t-300,
  .hover\:t-300:hover {
    --tl: var(--l300);
  }

  .t-400,
  .hover\:t-400:hover {
    --tl: var(--l400);
  }

  .t-500,
  .hover\:t-500:hover {
    --tl: var(--l500);
  }

  .t-600,
  .hover\:t-600:hover {
    --tl: var(--l600);
  }

  .t-700,
  .hover\:t-700:hover {
    --tl: var(--l700);
  }

  .t-800,
  .hover\:t-800:hover {
    --tl: var(--l800);
  }

  .t-900,
  .hover\:t-900:hover {
    --tl: var(--l900);
  }

  /* Background-shades */

  [class*=bg-100],
  [class*=bg-200],
  [class*=bg-300],
  [class*=bg-400],
  [class*=bg-500] {
    background: color-mix(in srgb, var(--bgc) calc(var(--bgl) * 2), white);
  }

  .theme-dark [class*=bg-500],
  [class*=bg-600],
  [class*=bg-700],
  [class*=bg-800],
  [class*=bg-900] {
    background: color-mix(in srgb, var(--bgc) calc((100% - var(--bgl)) * 2), black);
  }

  .bg-100,
  .hover\:bg-100:hover {
    --bgl: var(--l100);
  }

  .bg-200,
  .hover\:bg-200:hover {
    --bgl: var(--l200);
  }

  .bg-300,
  .hover\:bg-300:hover {
    --bgl: var(--l300);
  }

  .bg-400,
  .hover\:bg-400:hover {
    --bgl: var(--l400);
  }

  .bg-500,
  .hover\:bg-500:hover {
    --bgl: var(--l500);
  }

  .bg-600,
  .hover\:bg-600:hover {
    --bgl: var(--l600);
  }

  .bg-700,
  .hover\:bg-700:hover {
    --bgl: var(--l700);
  }

  .bg-800,
  .hover\:bg-800:hover {
    --bgl: var(--l800);
  }

  .bg-900,
  .hover\:bg-900:hover {
    --bgl: var(--l900);
  }

  /* 
  Dark theme shade inverters
  */

  /* Border colors */

  .theme-dark [class*=b-100].b-dark-invert,
  .theme-dark [class*=b-200].b-dark-invert,
  .theme-dark [class*=b-300].b-dark-invert,
  .theme-dark [class*=b-400].b-dark-invert,
  .theme-dark [class*=b-500].b-dark-invert {
    border-color: color-mix(in srgb, var(--bc) calc((100% - var(--bl)) * 2), black);
  }

  .theme-dark [class*=b-600].t-dark-invert,
  .theme-dark [class*=b-700].t-dark-invert,
  .theme-dark [class*=b-800].t-dark-invert,
  .theme-dark [class*=b-900].t-dark-invert {
    border-color: color-mix(in srgb, var(--bc) calc(var(--bl) * 2), white);
  }

  /* Text colors (note: no `-500` needed */

  .theme-dark [class*=t-100].t-dark-invert,
  .theme-dark [class*=t-200].t-dark-invert,
  .theme-dark [class*=t-300].t-dark-invert,
  .theme-dark [class*=t-400].t-dark-invert {
    color: color-mix(in srgb, var(--tc) calc((100% - var(--tl)) * 2), black);
  }

  .theme-dark [class*=t-600].t-dark-invert,
  .theme-dark [class*=t-700].t-dark-invert,
  .theme-dark [class*=t-800].t-dark-invert,
  .theme-dark [class*=t-900].t-dark-invert {
    color: color-mix(in srgb, var(--tc) calc(var(--tl) * 2), white);
  }

  /* Background colors */
  .theme-dark [class*=bg-100],
  .theme-dark [class*=bg-200],
  .theme-dark [class*=bg-300],
  .theme-dark [class*=bg-400] {
    background: color-mix(in srgb, var(--bgc) calc(var(--bgl) * 2), white);
  }

  .theme-dark [class*=bg-600].bg-dark-invert,
  .theme-dark [class*=bg-700].bg-dark-invert,
  .theme-dark [class*=bg-800].bg-dark-invert,
  .theme-dark [class*=bg-900].bg-dark-invert {
    background: color-mix(in srgb, var(--bgc) calc(var(--bgl) * 2), white);
  }

  .theme-dark [class*=bg-100].bg-dark-invert,
  .theme-dark [class*=bg-200].bg-dark-invert,
  .theme-dark [class*=bg-300].bg-dark-invert,
  .theme-dark [class*=bg-400].bg-dark-invert {
    background: color-mix(in srgb, var(--bgc) calc((100% - var(--bgl)) * 2), black);
  }

  .theme-dark [class*=bg-600].bg-dark-invert,
  .theme-dark [class*=bg-700].bg-dark-invert,
  .theme-dark [class*=bg-800].bg-dark-invert,
  .theme-dark [class*=bg-900].bg-dark-invert {
    background: color-mix(in srgb, var(--bgc) calc(var(--bgl) * 2), white);
  }
}

@layer color-other {
  .bg-transparent:not(:hover) {
    background: transparent;
  }

  .t-white,
  .hover\:t-white:hover {
    color: white;
  }

  .b-white,
  .hover\:b-white:hover {
    border-color: white;
  }

  .bg-white,
  .hover\:bg-white:hover {
    background: white;
  }

  .t-black,
  .hover\:t-black:hover {
    color: black;
  }

  .b-black,
  .hover\:b-black:hover {
    border-color: black;
  }

  .bg-black,
  .hover\:bg-black:hover {
    background: black;
  }

  .t-reversi,
  .hover\:t-reversi:hover {
    color: black;
  }

  .b-reversi,
  .hover\:b-reversi:hover {
    border-color: black;
  }

  .bg-reversi,
  .hover\:bg-reversi:hover {
    background: black;
  }

  .theme-dark .t-reversi,
  .theme-dark .hover\:t-reversi:hover {
    color: white;
  }

  .theme-dark .b-reversi,
  .theme-dark .hover\:b-reversi:hover {
    border-color: white;
  }

  .theme-dark .bg-reversi,
  .theme-dark .hover\:bg-reversi:hover {
    background: white;
  }

  .t-reversi-alt,
  .hover\:t-reversi-alt:hover {
    color: white;
  }

  .b-reversi-alt,
  .hover\:b-reversi-alt:hover {
    border-color: white;
  }

  .bg-reversi-alt,
  .hover\:bg-reversi-alt:hover {
    background: white;
  }

  .theme-dark .t-reversi-alt,
  .theme-dark .hover\:t-reversi-alt:hover {
    color: black;
  }

  .theme-dark .b-reversi-alt,
  .theme-dark .hover\:b-reversi-alt:hover {
    border-color: black;
  }

  .theme-dark .bg-reversi-alt,
  .theme-dark .hover\:bg-reversi-alt:hover {
    background: black;
  }
}