@layer decoration {
  .mx-auto {
    margin-inline: auto
  }

  .m-0 {
    margin: 0
  }

  .m-1 {
    margin: var(--sp-1)
  }

  .m-2 {
    margin: var(--sp-2)
  }

  .m-3 {
    margin: var(--sp-3)
  }

  .m-4 {
    margin: var(--sp-4)
  }

  .mt-0 {
    margin-top: 0
  }

  .mt-1 {
    margin-top: var(--sp-1)
  }

  .mt-2 {
    margin-top: var(--sp-2)
  }

  .mt-3 {
    margin-top: var(--sp-3)
  }

  .mt-4 {
    margin-top: var(--sp-4)
  }

  .mr-0 {
    margin-right: 0;
  }

  .mr-1 {
    margin-right: var(--sp-1)
  }

  .mr-2 {
    margin-right: var(--sp-2)
  }

  .mr-3 {
    margin-right: var(--sp-3)
  }

  .mr-4 {
    margin-right: var(--sp-4)
  }

  .mb-0 {
    margin-bottom: var(--sp-1)
  }

  .mb-1 {
    margin-bottom: var(--sp-1)
  }

  .mb-2 {
    margin-bottom: var(--sp-2)
  }

  .mb-3 {
    margin-bottom: var(--sp-3)
  }

  .mb-4 {
    margin-bottom: var(--sp-4)
  }

  .ml-0 {
    margin-left: 0;
  }

  .ml-1 {
    margin-left: var(--sp-1)
  }

  .ml-2 {
    margin-left: var(--sp-2)
  }

  .ml-3 {
    margin-left: var(--sp-3)
  }

  .ml-4 {
    margin-left: var(--sp-4)
  }

  .mx-1 {
    margin-inline: var(--sp-1)
  }

  .mx-2 {
    margin-inline: var(--sp-2)
  }

  .mx-3 {
    margin-inline: var(--sp-3)
  }

  .mx-4 {
    margin-inline: var(--sp-4)
  }

  .my-1 {
    margin-block: var(--sp-1)
  }

  .my-2 {
    margin-block: var(--sp-2)
  }

  .my-3 {
    margin-block: var(--sp-3)
  }

  .my-4 {
    margin-block: var(--sp-4)
  }

  .p-cell {
    padding: var(--p-cell)
  }

  .p-0 {
    padding: 0
  }

  .p-1 {
    padding: var(--sp-1)
  }

  .p-2 {
    padding: var(--sp-2)
  }

  .p-3 {
    padding: var(--sp-3)
  }

  .p-4 {
    padding: var(--sp-4)
  }

  .pt-0 {
    padding-top: 0;
  }

  .pt-1 {
    padding-top: var(--sp-1)
  }

  .pt-2 {
    padding-top: var(--sp-2)
  }

  .pt-3 {
    padding-top: var(--sp-3)
  }

  .pt-4 {
    padding-top: var(--sp-4)
  }

  .pr-0 {
    padding-right: 0;
  }

  .pr-1 {
    padding-right: var(--sp-1)
  }

  .pr-2 {
    padding-right: var(--sp-2)
  }

  .pr-3 {
    padding-right: var(--sp-3)
  }

  .pr-4 {
    padding-right: var(--sp-4)
  }

  .pb-0 {
    padding-bottom: 0;
  }

  .pb-1 {
    padding-bottom: var(--sp-1)
  }

  .pb-2 {
    padding-bottom: var(--sp-2)
  }

  .pb-3 {
    padding-bottom: var(--sp-3)
  }

  .pb-4 {
    padding-bottom: var(--sp-4)
  }

  .pl-0 {
    padding-left: 0;
  }

  .pl-1 {
    padding-left: var(--sp-1)
  }

  .pl-2 {
    padding-left: var(--sp-2)
  }

  .pl-3 {
    padding-left: var(--sp-3)
  }

  .pl-4 {
    padding-left: var(--sp-4)
  }

  .px-1 {
    padding-inline: var(--sp-1)
  }

  .px-2 {
    padding-inline: var(--sp-2)
  }

  .px-3 {
    padding-inline: var(--sp-3)
  }

  .px-4 {
    padding-inline: var(--sp-4)
  }

  .py-1 {
    padding-block: var(--sp-1)
  }

  .py-2 {
    padding-block: var(--sp-2)
  }

  .py-3 {
    padding-block: var(--sp-3)
  }

  .py-4 {
    padding-block: var(--sp-4)
  }

  .b-0 {
    border: 0
  }

  .b-1 {
    border: var(--b-1)
  }

  .b-2 {
    border: var(--b-2)
  }

  .b-3 {
    border: var(--b-3)
  }

  .bt-1 {
    border-top: var(--b-1)
  }

  .bt-2 {
    border-top: var(--b-2)
  }

  .bt-3 {
    border-top: var(--b-3)
  }

  .br-1 {
    border-right: var(--b-1)
  }

  .br-2 {
    border-right: var(--b-2)
  }

  .br-3 {
    border-right: var(--b-3)
  }

  .bb-1 {
    border-bottom: var(--b-1)
  }

  .bb-2 {
    border-bottom: var(--b-2)
  }

  .bb-3 {
    border-bottom: var(--b-3)
  }

  .bl-1 {
    border-left: var(--b-1)
  }

  .bl-2 {
    border-left: var(--b-2)
  }

  .bl-3 {
    border-left: var(--b-3)
  }

  .r-2 {
    border-radius: var(--r-2)
  }

  .r-3 {
    border-radius: var(--r-3)
  }

  .r-4 {
    border-radius: var(--r-4)
  }

  .r-pill {
    border-radius: 99em
  }

  .r-2,
  .r-3,
  .r-4,
  .r-pill {
    overflow: hidden;
  }

  .img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .opacity-25\%,
  .hover\:opacity-25\%\:hover {
    opacity: 0.25;
  }

  .opacity-50\%,
  .hover\:opacity-50\%\:hover {
    opacity: 0.5;
  }

  .opacity-75\%,
  .hover\:opacity-75\%\:hover {
    opacity: 0.75;
  }

  .hover\:opacity-100\%\:hover {
    opacity: 1;
  }

}