.mx-auto {
  margin-inline: auto;
}

.m-0 {
  margin: 0;
}

.m-tiny {
  margin: var(--s-tiny);
}

.m-1 {
  margin: var(--s-1);
}

.m-2 {
  margin: var(--s-2);
}

.m-3 {
  margin: var(--s-3);
}

.m-4 {
  margin: var(--s-4);
}

.mt-0 {
  margin-top: 0;
}

.mt-tiny {
  margin-top: var(--s-tiny);
}

.mt-1 {
  margin-top: var(--s-1);
}

.mt-2 {
  margin-top: var(--s-2);
}

.mt-3 {
  margin-top: var(--s-3);
}

.mt-4 {
  margin-top: var(--s-4);
}

.mr-0 {
  margin-right: 0;
}

.mr-tiny {
  margin-right: var(--s-tiny);
}

.mr-1 {
  margin-right: var(--s-1);
}

.mr-2 {
  margin-right: var(--s-2);
}

.mr-3 {
  margin-right: var(--s-3);
}

.mr-4 {
  margin-right: var(--s-4);
}

.mb-0 {
  margin-bottom: 0;
}

.mb-tiny {
  margin-bottom: var(--s-tiny);
}

.mb-1 {
  margin-bottom: var(--s-1);
}

.mb-2 {
  margin-bottom: var(--s-2);
}

.mb-3 {
  margin-bottom: var(--s-3);
}

.mb-4 {
  margin-bottom: var(--s-4);
}

.ml-0 {
  margin-left: 0;
}

.ml-tiny {
  margin-left: var(--s-tiny);
}

.ml-1 {
  margin-left: var(--s-1);
}

.ml-2 {
  margin-left: var(--s-2);
}

.ml-3 {
  margin-left: var(--s-3);
}

.ml-4 {
  margin-left: var(--s-4);
}

.mx-tiny {
  margin-inline: var(--s-tiny);
}

.mx-1 {
  margin-inline: var(--s-1);
}

.mx-2 {
  margin-inline: var(--s-2);
}

.mx-3 {
  margin-inline: var(--s-3);
}

.mx-4 {
  margin-inline: var(--s-4);
}

.my-tiny {
  margin-block: var(--s-tiny);
}

.my-1 {
  margin-block: var(--s-1);
}

.my-2 {
  margin-block: var(--s-2);
}

.my-3 {
  margin-block: var(--s-3);
}

.my-4 {
  margin-block: var(--s-4);
}

.p-0 {
  padding: 0;
}

.p-tiny {
  padding: var(--s-tiny);
}

.p-1 {
  padding: var(--s-1);
}

.p-2 {
  padding: var(--s-2);
}

.p-3 {
  padding: var(--s-3);
}

.p-4 {
  padding: var(--s-4);
}

.pt-0 {
  padding-top: 0;
}

.pt-tiny {
  padding-top: var(--s-tiny);
}

.pt-1 {
  padding-top: var(--s-1);
}

.pt-2 {
  padding-top: var(--s-2);
}

.pt-3 {
  padding-top: var(--s-3);
}

.pt-4 {
  padding-top: var(--s-4);
}

.pr-0 {
  padding-right: 0;
}

.pr-tiny {
  padding-right: var(--s-tiny);
}

.pr-1 {
  padding-right: var(--s-1);
}

.pr-2 {
  padding-right: var(--s-2);
}

.pr-3 {
  padding-right: var(--s-3);
}

.pr-4 {
  padding-right: var(--s-4);
}

.pb-0 {
  padding-bottom: 0;
}

.pb-tiny {
  padding-bottom: var(--s-tiny);
}

.pb-1 {
  padding-bottom: var(--s-1);
}

.pb-2 {
  padding-bottom: var(--s-2);
}

.pb-3 {
  padding-bottom: var(--s-3);
}

.pb-4 {
  padding-bottom: var(--s-4);
}

.pl-0 {
  padding-left: 0;
}

.pl-tiny {
  padding-left: var(--s-tiny);
}

.pl-1 {
  padding-left: var(--s-1);
}

.pl-2 {
  padding-left: var(--s-2);
}

.pl-3 {
  padding-left: var(--s-3);
}

.pl-4 {
  padding-left: var(--s-4);
}

.px-tiny {
  padding-inline: var(--s-tiny);
}

.px-1 {
  padding-inline: var(--s-1);
}

.px-2 {
  padding-inline: var(--s-2);
}

.px-3 {
  padding-inline: var(--s-3);
}

.px-4 {
  padding-inline: var(--s-4);
}

.py-tiny {
  padding-block: var(--s-tiny);
}

.py-1 {
  padding-block: var(--s-1);
}

.py-2 {
  padding-block: var(--s-2);
}

.py-3 {
  padding-block: var(--s-3);
}

.py-4 {
  padding-block: var(--s-4);
}

.p-cell {
  padding: var(--p-cell);
}

.b-0 {
  border: 0;
}

.b-thin {
  border: var(--b-1);
}

.b-thick {
  border: var(--b-2);
}

.b-heavy {
  border: var(--b-3);
}

.bt-thin {
  border-top: var(--b-1);
}

.bt-thick {
  border-top: var(--b-2);
}

.bt-heavy {
  border-top: var(--b-3);
}

.br-thin {
  border-right: var(--b-1);
}

.br-thick {
  border-right: var(--b-2);
}

.br-heavy {
  border-right: var(--b-3);
}

.bb-thin {
  border-bottom: var(--b-1);
}

.bb-thick {
  border-bottom: var(--b-2);
}

.bb-heavy {
  border-bottom: var(--b-3);
}

.bl-thin {
  border-left: var(--b-1);
}

.bl-thick {
  border-left: var(--b-2);
}

.bl-heavy {
  border-left: var(--b-3);
}

.b-currentColor {
  border-color: currentColor;
}

.rounded,
.rounded-1 {
  --r: var(--s-1);
  border-radius: var(--r);
}

.rounded-tl {
  --r: var(--s-1);
  border-top-left-radius: var(--r);
}

.rounded-tr {
  --r: var(--s-1);
  border-top-right-radius: var(--r);
}

.rounded-br {
  --r: var(--s-1);
  border-bottom-right-radius: var(--r);
}

.rounded-bl {
  --r: var(--s-1);
  border-bottom-left-radius: var(--r);
}

.rounded-tiny {
  --r: var(--s-tiny);
}

.rounded-2 {
  --r: var(--s-2);
}

.rounded-3 {
  --r: var(--s-3);
}

.rounded-4 {
  --r: var(--s-4);
}

.rounded-pill {
  --r: var(--pill);
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.opacity-25\%,
.hover\:opacity-25\%\:hover {
  opacity: 0.25;
}

.opacity-50\%,
.hover\:opacity-50\%\:hover {
  opacity: 0.5;
}

.opacity-75\%,
.hover\:opacity-75\%\:hover {
  opacity: 0.75;
}

.hover\:opacity-100\%\:hover {
  opacity: 1;
}
