fieldset {
  border: var(--b-thin);
  padding: var(--s-2);
}

label,
legend {
  font-family: var(--t-base-ff);
}

::placeholder {
  color: var(--tc-form);
  opacity: 0.7;
}

input,
select,
textarea {
  min-height: var(--y-form);
  border: var(--b-form);
  border-radius: unset;
  padding: var(--p-form);
  font-family: var(--t-base-ff);
  text-align: start;
  color: var(--tc-form);
  background-color: var(--bgc-form);
}

select:not([multiple]) {
  height: var(--y-form);
}

[type="color"] {
  width: var(--y-form);
  height: var(--y-form);
  padding: 0.25em;
}

[type="checkbox"],
[type="radio"] {
  display: inline-block;
  min-height: unset;
  width: 1em;
  height: 1em;
}

[type="search"] {
  -webkit-appearance: textfield;
  appearance: textfield;
}

::file-selector-button {
  border: 0;
  font-size: 1em;
  color: white;
  background-color: var(--bgc-btn);
}

:disabled:hover {
  cursor: not-allowed;
}

textarea:not([rows]) {
  min-height: 6em;
}

button,
[type="button"],
[type="submit"],
[type="reset"],
.btn {
  --tc: var(--tc-btn);
  --bgc: var(--bgc-btn);
  --bgl: var(--l500);
  --bgcd: var(--bgc);
  --bgld: var(--l500);
  position: relative;
  -webkit-appearance: none;
  appearance: none;
  min-height: var(--y-form);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  padding: var(--p-form);
  font-family: var(--t-base-ff);
  font-weight: var(--t-btn);
  text-decoration: none;
  color: var(--tc);
  background-color: light-dark(
    oklch(from var(--bgc) var(--bgl) c h),
    oklch(from var(--bgc, var(--bgcd)) var(--bgld) c h)
  );
  transition: all 0.15s ease;
  cursor: pointer;
  &:hover {
    color: var(--tc);
    background-color: light-dark(
      oklch(from var(--bgc) calc(var(--bgl) - 9.5%) c h),
      oklch(from var(--bgc, var(--bgcd)) calc(var(--bgld) + 9.5%) c h)
    ) !important;
  }
}
