fieldset {
  border: var(--b-1);
  padding: var(--s-2);
}

label,
legend {
  font-family: var(--t-default);
}

::placeholder {
  color: var(--tc-form);
  opacity: 0.7;
}

input,
select,
textarea {
  min-height: var(--y-form);
  border: var(--b-form);
  border-radius: unset;
  padding: var(--p-cell);
  font-family: var(--t-default);
  font-size: inherit;
  text-align: start;
  color: var(--tc-form);
  background: var(--bgc-form);
}

select:not([multiple]) {
  height: var(--y-form);
}

[type="color"] {
  width: var(--y-form);
  height: var(--y-form);
  padding: 0.25em;
}

[type="checkbox"],
[type="radio"] {
  display: inline-block;
  min-height: unset;
}

[type="search"] {
  -webkit-appearance: textfield;
  appearance: textfield;
}

::file-selector-button {
  border: 0;
  font-size: 1em;
  color: white;
  background: var(--bgc-btn);
}

:disabled:hover {
  cursor: not-allowed;
}

textarea:not([rows]) {
  min-height: 6em;
}

button,
[type="button"],
[type="submit"],
[type="reset"],
.btn {
  position: relative;
  -webkit-appearance: none;
  appearance: none;
  min-height: var(--y-form);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border: none;
  padding: var(--s-2) 1em;
  font-family: var(--t-default);
  font-size: inherit;
  font-weight: var(--t-btn);
  text-decoration: none;
  color: var(--tc-btn);
  background: var(--bgc-btn);
  transition: all 0.15s ease;

  &:hover {
    text-decoration: none;
    color: var(--tc-btn-hover);
    background: var(--bgc-btn-hover);
    cursor: pointer;
  }
}

.btn-icon {
  width: var(--y-form);
  height: var(--y-form);
  padding: 0;
  line-height: inherit;
}
