fieldset {
  border: var(--b-1);
}

label,
legend {
  font-family: var(--t-base);
}

::placeholder {
  color: var(--tc-input);
  opacity: .7;
}

input,
textarea,
select {
  outline: 0 none;
  min-height: var(--mh-input);
  /* -webkit-appearance: none; */
  border: 0;
  border-radius: unset;
  padding: var(--p-cell);
  font-family: var(--t-base);
  font-size: inherit;
  text-align: start;
  color: var(--tc-input);
  background: var(--bgc-input);
}

input:focus,
select:focus,
textarea:focus {
  position: relative;
  z-index: 1;
  outline: 0;
  box-shadow: 0 0 0 4px var(--focus-ring);
}

select:not([multiple]) {
  height: var(--mh-input);
}

[type="color"] {
  width: var(--mh-input);
  height: var(--mh-input);
  padding: .25em;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  height: 0.85em;
  min-height: unset;
  width: 1em;
}

input::file-selector-button {
  border: 0;
  font-size: 1em;
  color: white;
  background: var(--bgc-btn);
}

:disabled:hover {
  cursor: not-allowed;
}

textarea:not([rows]) {
  min-height: 10em;
}

button,
[type="button"],
[type="submit"],
[type="reset"],
.btn {
  position: relative;
  -webkit-appearance: none;
  appearance: none;
  min-height: var(--mh-input);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border: 0;
  padding: var(--sp-1) 1em;
  font-family: var(--t-base);
  font-size: inherit;
  font-weight: var(--fw-btn);
  text-decoration: none;
  color: var(--tc-btn);
  background: var(--bgc-btn);
  transition: all 0.15s ease;
}

button:hover,
button:active,
[type="button"]:hover,
[type="button"]:active,
[type="submit"]:hover,
[type="submit"]:active,
[type="reset"]:hover,
[type="reset"]:active,
.btn:hover,
.btn:active {
  color: var(--tc-btn-hover);
  background: var(--bgc-btn-hover);
  cursor: pointer;
}

button:focus-visible,
[type="button"]:focus-visible,
[type="submit"]:focus-visible,
[type="reset"]:focus-visible {
  z-index: 1;
  outline: 0;
  box-shadow: 0 0 0 4px var(--focus-ring);
}

/* Note: The .btn class doesn’t get this input focus ring. As normal, it will 
get the link focus ring insead when you do <a class="btn" href="">...</a>. */

.btn-icon {
  width: var(--mh-input);
  height: var(--mh-input);
  padding: 0;
  line-height: inherit;
}