@layer base {
  /**
  * CSS Reset -- based on:
  * https://www.joshwcomeau.com/css/custom-css-reset/
  * https://andy-bell.co.uk/a-more-modern-css-reset/
  */

  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    box-sizing: border-box;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  body {
    min-height: 100dvh;
    margin: 0;
    font-size: var(--t-base);
    line-height: var(--t-lh);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }

  img,
  picture,
  video,
  canvas {
    max-width: 100%;
    display: block;
  }

  iframe {
    border: 0;
  }

  summary {
    cursor: pointer;
  }

  :target {
    scroll-margin-block: 5ex;
  }
}
