:root {
  /*
  Baselayer pre-OKLCH fallback colors
  ===================================
  Note: for pre-OKLCH browsers, Baselayer 3 color utility classes 
  don’t work at all. But text, body background, links, buttons, 
  form inputs, table borders, etc. receive these fallback colors.
  */
  --bgc-body: white;
  --tc-base: #222;
  --tc-link: #2c6aff;
  --tc-link-hover: #2559fe;
  --focus-ring: #4df5ff;
  --tc-input: black;
  --bgc-input: #f5f5f5;
  --tc-btn: white;
  --tc-btn-hover: white;
  --bgc-btn: #898989;
  --bgc-btn-hover: #707070;
  --tc-code: black;
  --bgc-code: #4df5ff;
  --bgc-highlight: #ffcc0066;
  --bc-fineline: #d9d9d9;

  /* color utility builder fallbacks (for pre-OKLCH) */
  --tx: #222;
  --bx: #aaa;
  --bgx: #ddd;

  /*
  Baselayer oklch() theme colors
  */
  --tc-base: oklch(var(--l900) var(--c0) var(--gray));
  --tc-link: oklch(var(--l600) var(--c30) var(--blue));
  --tc-link-hover: oklch(var(--l800) var(--c30) var(--blue));
  --focus-ring: oklch(var(--l200) var(--c30) var(--blue));
  --bgc-input: oklch(var(--l100) var(--c0) var(--gray));
  --bgc-btn: oklch(var(--l600) var(--c0) var(--gray));
  --bgc-btn-hover: oklch(var(--l700) var(--c0) var(--gray));
  --bgc-code: oklch(var(--l100) var(--c10) var(--blue));
  --bc-fineline: oklch(var(--l200) var(--c0) var(--gray));
}

* {
  /* lightness (decrements: 8.5%) */
  --l100: 97%;
  --l200: 88.5%;
  --l300: 80%;
  --l400: 71.5%;
  --l500: 63%;
  --l600: 54.5%;
  --l700: 46%;
  --l800: 37.5%;
  --l900: 29%;
  --l1000: 20.5%;
  /* #171717 */

  /* chroma */
  --c0: 0;
  --c02: 0.02;
  --c04: 0.04;
  --c06: 0.06;
  --c08: 0.08;
  --c10: 0.10;
  --c15: 0.15;
  --c20: 0.20;
  --c25: 0.25;
  --c30: 0.3;
  /* (higher chromas are out of gamut for many monitors) */

  /* hue */
  --gray: 0;
  --red: 30;
  --orange: 90;
  --green: 155;
  --blue: 265;
  /* --coolgray: 265;
  --warmgray: 65;
  --brown: 75;
  --teal: 195;
  --purple: 300;
  --pink: 345; */

  /* builders */
  --tx: oklch(var(--tl) var(--tc) var(--th));
  --bx: oklch(var(--bl) var(--bc) var(--bh));
  --bgx: oklch(var(--bgl) var(--bgc) var(--bgh));
}

/*
Baselayer dark oklch() theme colors
===================================
*/

/* 
Dark theme
==========
Alternatively, you could set these up using...

@media (prefers-clr-scheme: dark) { 
  * { }
} 

... if you don’t want to give your users the opportunity of choosing light or dark theme.
*/

.theme-dark,
.theme-dark * {
  /* lightness (decrements: 7%) */
  --l100: 85%;
  --l200: 77.5%;
  --l300: 70%;
  --l400: 62.5%;
  --l500: 55%;
  --l600: 47.5%;
  --l700: 40%;
  --l800: 32.5%;
  --l900: 25%;
  --l1000: 18%;
  /* #121212 */
}

.theme-dark {
  --bgc-body: oklch(var(--l1000) var(--c0) var(--gray));
  --tc-base: oklch(var(--l100) var(--c0) var(--gray));
  --tc-link: oklch(var(--l300) var(--c30) var(--blue));
  --tc-link-hover: oklch(var(--l400) var(--c30) var(--blue));
  --tc-input: white;
  --bgc-input: oklch(var(--l800) var(--c0) var(--gray));
  --tc-code: white;
  --bgc-code: oklch(var(--l800) var(--c30) var(--blue));
  --bc-fineline: oklch(var(--l600) var(--c0) var(--gray));
}

:root {
  /*
  Native Typeface Stacks
  */
  --t-sans-serif: ui-sans-serif, system-ui, sans-serif;
  --t-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --t-mono: ui-monospace, Menlo, Consolas, "Courier New", monospace;

  --t-old-serif: "Iowan Old Style", "Palatino Linotype", Palatino, Georgia, serif;

  --t-base: var(--t-sans-serif);
  --t-prose: var(--t-serif);

  /* Base font size */
  --fs-base: 100%;
  /* Base line-height (no unit required) */
  --lh-base: 1.5;
  /* margin line-height in rems */
  --m-lh: calc(var(--lh-base) * 1rem);

  /* Font weights */
  --fw-lighter: 200;
  --fw-normal: 400;
  --fw-semibold: 500;
  --fw-bold: 700;
  --fw-heavy: 900;

  /*
  Widths set at 320px intervals
  If you change these, remember to also change 
  the @custom-media queries variables below
  */
  --w-xs: 320px;
  --w-sm: 640px;
  --w-md: 960px;
  --w-lg: 1280px;
  --w-xl: 1600px;

  /*
  Content grid
  ============
  Default content becomes max width 640px when font-size is 16px (1rem)
  Expand panels becomes max width 960px when font-size is 16px (1rem)
  */
  --w-cg: 40em;
  --w-expand: 8.5em;

  /*
  Spacing
  =======
  Used for margins, paddings, flexbox gaps, and grid gaps.
  sp-2 through sp-4 clamps are based on https://clamp.font-size.app/,
  expanding each to 1.5× of initial value from 640px to 1280px.
  See also “container query powered spacing” below.
  */
  --sp-1: 0.5rem;
  --sp-2: clamp(1rem, 0.5rem + 1.25vw, 1.5rem);
  --sp-3: clamp(2rem, 1rem + 2.5vw, 3rem);
  --sp-4: clamp(3rem, 1.5rem + 3.75vw, 4.5rem);
  /* table cells, form inputs, and similar utility class */
  --p-cell: var(--sp-1) calc(2 * var(--sp-1));
  /* list spacing (between items) */
  --sp-list: 0.75em;

  /* 
  Major third typographic scale
  =============================
  Salculated by https://type-scale.com
  Set heading sizes using ems, so that all headings can be clamp() 
  enlarged by wrapping with `.t-long-read` 
  */
  --h1: 2.441em;
  --h2: 1.953em;
  --h3: 1.563em;
  --h4: 1.25em;
  --h5: 1em;
  --h6: .8em;
  /* headings font */
  --h-font: inherit;
  /* headings font-weight */
  --h-fw: var(--fw-bold);
  /* headings line-height */
  --h-lh: calc(1em + 0.5rem);

  /*
  Long-read utility
  =================
  */
  --fs-long-read: clamp(1rem, 0.75rem + 0.625vw, 1.25rem);

  /* link decoration offset */
  --do-link: .3rem;
  /* link decoration thickness */
  --dt-link: 1px;
  /* input and button minimum height */
  --mh-input: 2.5em;
  /* button font-weight */
  --fw-btn: var(--fw-semibold);

  /* Borders */
  --b-1: 1px solid var(--bc-fineline);
  --b-2: 4px solid var(--bc-fineline);
  --b-3: 8px solid var(--bc-fineline);

  /* Border radius (rounded corners) */
  --r-2: 4px;
  --r-3: 8px;
  --r-4: 16px;
}

/*
Container query powered spacing and typography
*/

.container {
  /* No need for --sp-1 because it’s always 0.5rem */
  --sp-2: clamp(1rem, 0.5rem + 1.25cqi, 1.5rem);
  --sp-3: clamp(2rem, 1rem + 2.5cqi, 3rem);
  --sp-4: clamp(3rem, 1.5rem + 3.75cqi, 4.5rem);

  --fs-long-read: clamp(1rem, 0.75rem + 0.625cqi, 1.25rem);
}

/*
Custom media
*/

@custom-media --max-sm (max-width: 639px);
@custom-media --min-sm (min-width: 649px);
@custom-media --max-md (max-width: 959px);
@custom-media --min-md (min-width: 960px);
@custom-media --max-lg (max-width: 1279px);
@custom-media --min-lg (min-width: 1280px);