:root {
  /*
  Widths
  ======
  Note: sm, md, and lg are the same as `@container` min-widths.
  */
  --w-xs: 320px;
  --w-sm: 640px;
  --w-md: 960px;
  --w-lg: 1280px;
  --w-xl: 1600px;
  --w-content: 66ch;
  /* Used in the content grid, and in `w-content` */
  --w-expand: calc(((var(--w-lg) - var(--w-content)) / 2) - (var(--s-3)));

  /*
  Spacing (and border-radius)
  ===========================
  Used for margins, paddings, flexbox gaps, and grid gaps.
  Note: `--s-3` and `--s-4` are based on https://clamp.font-size.app/
  (but using cqi), expanding to 1.5× of initial value from 640px to 1280px.
  */
  --s-1: 0.25rem;
  --s-2: 0.5rem;
  --s-3: clamp(1rem, 0.5rem + 1.25cqi, 1.5rem);
  --s-4: clamp(2rem, 1rem + 2.5cqi, 3rem);
  --pill: 99rem;
  --p-cell: 0.5rem 1rem;
  /* table cells, form inputs, and a utility class */

  /* Borders */
  --b-1: 1px solid var(--bc);
  --b-2: var(--s-1) solid var(--bc);
  --b-3: var(--s-2) solid var(--bc);

  /* Native Typeface Stacks */
  --t-sans: ui-sans-serif, sans-serif;
  --t-serif: ui-serif, serif;
  --t-mono: ui-monospace, monospace;
  --t-default: var(--t-sans);
  --t-prose: var(--t-serif);

  /* Font sizes */
  --t-base: 100%;
  --t-sm: 0.825em;
  --t-lg: 1.325em;
  --t-long-read: clamp(1em, 0.5em + 1.25cqi, 1.25em);
  --t-comfort: clamp(1em, 0.375em + 1.5625cqi, 1.625em);
  --t-display: clamp(1em, 0.2em + 2cqi, 2rem);
  /* Used https://clamp.font-size.app/ but changed vw to cqi and rem changed to em */

  /* Font weights */
  --t-thin: 200;
  --t-normal: 400;
  --t-semibold: 600;
  --t-bold: 700;
  --t-heavy: 900;
  --t-btn: var(--t-semibold);

  /* Forms */
  --b-form: 1px solid var(--bc-form);
  --y-form: 2.5em;

  /*
  Headings
  ========
  Set heading sizes using ems, so that all headings can be `clamp()`
  enlarged by wrapping with `.t-display`
  */
  --t-scale: 1.25;
  --h6: var(--t-base);
  --h5: calc(var(--h6) * var(--t-scale));
  --h4: calc(var(--h5) * var(--t-scale));
  --h3: calc(var(--h4) * var(--t-scale));
  --h2: calc(var(--h3) * var(--t-scale));
  --h1: calc(var(--h2) * var(--t-scale));
  --h-ff: inherit;
  /* headings font family */
  --h-fw: var(--t-semibold);
  --h-lh: calc(1em + 0.5rem);
  --h-mt: calc(var(--t-mb) * 2);

  --t-mb: 1rem;
  /* typographic elements margin-bottom */
  --t-lh: 1.5;
  /* Base line-height (no unit required) */

  --a-deco-offset: 0.3em;
  /* link decoration offset */
  --a-deco-thickness: 1px;
  /* link decoration thickness */
  --a-deco-thickness-hover: 3px;
  /* link decoration thickness :hover */

  /* Theme base colors */
  --blue: #4166f5;
  --green: #00a550;
  --amber: #ffba00;
  --red: #e34234;
  --gray: #838996;

  /* --blue: #1262ed;
  --green: #128a12;
  --amber: #e6de00;
  --red: #cf000f;
  --gray: #767676; */


  /* Light and dark theme colors */
  --bgc-body: light-dark(
    white,
    oklch(from var(--gray) var(--l1000) c h)
  );
  --tc-base: light-dark(
    oklch(from var(--gray) var(--l900) c h),
    oklch(from var(--gray) var(--l100) c h)
  );
  --tc-link: light-dark(
    oklch(from var(--blue) var(--l500) c h),
    oklch(from var(--blue) var(--l400) c h)
  );
  --tc-btn: white;
  --tc-btn-hover: white;
  --bgc-btn: light-dark(
    oklch(from var(--gray) var(--l500) c h),
    oklch(from var(--gray) var(--l600) c h)
  );
  --bgc-btn-hover: light-dark(
    oklch(from var(--gray) var(--l600) c h),
    oklch(from var(--gray) var(--l700) c h)
  );
  --bc-form: var(--bgc-btn);
  --tc-form: --tc-base;
  --bgc-form: --bgc-body;
  --tc-code: light-dark(
    oklch(from var(--green) var(--l600) c h),
    oklch(from var(--green) var(--l300) c h)
  );
  --bgc-code: light-dark(white, black);
  --bc: light-dark(
    oklch(from var(--gray) var(--l300) c h),
    oklch(from var(--gray) var(--l700) c h)
  );
  --color-focus: var(--amber);

  /* Color lightness levels */
  --l100: 98%;
  --l200: 86%;
  --l300: 74%;
  --l400: 62%;
  --l500: 50%;
  --l600: 42%;
  --l700: 34%;
  --l800: 26%;
  --l900: 18%;
  --l1000: 10%;
}