<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ title + ' · ' if title }}{{ metadata.title }}</title>

  <link rel="stylesheet" href="{{ '/css/min/baselayer.min.css' | url }}{{ '?v=' + metadata.version }}">

  <style>
    {% include "includes/docs.css" %}
  </style>

  <script>
    {% include "includes/switcher.js" %}

    {% include "includes/menu.js" %}
  </script>
</head>
<body class="{% if bodyClass %}{{ bodyClass }}{% endif %}">
  <script>
  if (navigator.appVersion.indexOf("Win") != -1) {
      document.body.classList.add('ms-windows');
    }
  </script>
  <!-- Current page: {{ page.url | url }} -->

  <a href="#content-wrap" tabindex="1" class="inline-block m-2 visually-hidden">Skip to page content</a>

  <div class="page-container">
    <div class="left-sidebar">
      {% include "includes/site-nav.njk" %}
    </div>
    <div class="main-frame">
      <aside class="right-sidebar lg:hidden-below">
        <div id="toc-outer" class="sticky top w-content h-max-100dvh mx-auto pt-2 px-2 pb-4 links-underline-hover-only overflow-y">
          <p class="h4 t-thin t-loose t-center">On this page</p>
          {{ content | toc | safe }}
        </div>
      </aside>
      <div class="main-pane">
        <div class="main-pane-content container">
          <header id="article-title" class="wrapper-md">
            <div class="py-4 t-comfort">
              <h1 class="py-4 t-thin t-balance t-center">{{ mainHeading }}</h1>
            </div>
          </header>

          <main class="content-grid pb-4 flow">
            {{ content | safe }}
          </main>

          <nav class="wrapper-md pt-4 grid gap-2 sm:equal-2-cols">
            {% if prevPage %}
            <a class="sm:col-1 my-1 b-thin rounded p-cell flex flex-column flex-top gap-1 t-underline-none hover:bg-blue bg-100 dark:bg-900"  href="{{ prevPage | url }}">
              <span class="t-blue">Previous page</span>
              <span class="h3 m-0 t-normal"> {{ prevLink if prevLink else "Previous page" }}</span>
            </a>
            {% endif %}
            {% if nextPage %}
            <a class="sm:col-2 my-1 b-thin rounded p-cell flex flex-column flex-bottom gap-1 t-right t-underline-none hover:bg-blue bg-100 dark:bg-900" href="{{ nextPage | url }}">
              <span class="t-blue">Next page</span>
              <span class="h3 m-0 t-normal">{{ nextLink if nextLink else "Next page" }}</span>
            </a>
            {% endif %}
          </nav>

          <footer class="wrapper-md py-4 t-base">
            <div class="mb-3 p-2 flex flex-column flex-middle t-center">
              <a href="{{ '/' | url }}" class="mb-1 flex flex-column flex-center gap-1 t-underline-none">
                <svg class="mx-auto" height="48" width="48" viewBox="0 0 111 111" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-miterwrapper:1.5">
                  <g transform="translate(-294.592 -94.592)">
                    <circle cx="350" cy="150" r="50" style="fill:none;stroke:currentColor;stroke-width:4px"/>
                    <path d="M294.167 180H320v-65.833" style="fill:none;stroke:currentColor;stroke-width:4px" transform="translate(10 -10)"/>
                    <path d="M405.833 180H380v-65.833" style="fill:none;stroke:currentColor;stroke-width:4px" transform="translate(-10 -10)"/>
                    <circle cx="350" cy="150" r="30" style="fill:none;stroke:currentColor;stroke-width:6px" transform="matrix(.66667 0 0 .66667 116.667 50)"/>
                    <path d="M310 180h80" style="fill:none;stroke:currentColor;stroke-width:4px"/>
                    </g>
                  </svg>
                <span class="h3 m-0 t-normal t-nowrap">{{ metadata.title }}</span>
              </a>
              <span>Version: {{ metadata.version }}</span>
            </div>

            <p class="p-cell flex flex-center flex-wrap gap-4 t-center">
              <span><a class="t-underline-hover-only" href="https://raw.githubusercontent.com/SimonPadbury/baselayer-3/main/_src/css/min/baselayer.min.css">Download CSS</a> ({{ metadata.filesize }})</span>
              <a class="t-underline-hover-only" href="https://github.com/SimonPadbury/baselayer-3">GitHub Repository</a>
              <a class="t-underline-hover-only" href="https://github.com/SimonPadbury/baselayer-3/blob/main/CHANGELOG.md">Changelog</a>
              <a class="t-underline-hover-only" href="https://github.com/SimonPadbury/baselayer-3/blob/main/LICENSE">MIT license</a>
            </p>
            <p class="t-center"><span>Developer: <a class="t-underline-hover-only" href="{{ metadata.developer.url }}">{{ metadata.developer.name }}</a></span>

          </footer>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
