<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ title + ' · ' if title }}{{ metadata.title }}</title>

  <link rel="stylesheet" href="{{ '/css/min/baselayer.min.css' | url }}{{ '?v=' + metadata.version }}">

  <style>
    html {
      scroll-behavior: smooth;
    }
    [aria-current=page] {
      background: oklch(var(--l900) var(--c02) var(--gray));
    }
    .resize-x {
      margin-inline: -5px;
      padding: 5px;
      resize: horizontal;
      overflow-x: auto;
      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='silver' stroke-width='2' stroke-dasharray='8%2c 8' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    }
    button.toggler {
      height: 3.625em;
    }
    .check-box {
      width: 1rem;
      height: 1rem;
    }

    .font-base .label-base .check-box::before { content: '✓'; }
    .font-prose .label-prose .check-box::before { content: '✓'; }
    .font-normal .label-normal .check-box::before { content: '✓'; }
    .font-longread .label-longread .check-box::before { content: '✓'; }
    .theme-light .label-light .check-box::before { content: '✓'; }
    .theme-dark .label-dark .check-box::before { content: '✓'; }

    body {
      container-type: inline-size;
      container-name: page;
    }

    @container page (max-width: 1279px) {
      #toc ul ul {
        display: none;
      }
    }

    @container page (min-width: 960px) {
      #site-title { 
        max-width: 200px;
        margin-inline: auto;
        padding-top: var(--sp-2);
        justify-content: center;
      }
      #site-nav {
        min-width: var(--w-xs);
      }
      .ms-windows #site-nav > div {
        scrollbar-gutter: stable;
        overflow-y: hidden;
      }
      .ms-windows #site-nav:hover > div {
        overflow-y: auto;
      }
    }
    @container page (min-width: 1280px) {
      article > .grid {
        grid-template-columns: 1fr var(--w-xs);
      }
      .ms-windows #toc > div {
        scrollbar-gutter: stable;
        overflow-y: hidden;
      }
      .ms-windows #toc:hover > div {
        overflow-y: auto;
      }
    }

    .font-longread #article-title,
    .font-longread #article-content { 
      font-size: var(--fs-long-read);
    }

    .font-prose article { font-family: var(--t-prose); }

    h2, h3, h4 {
      scroll-margin-top: var(--sp-2);
    }
    .content-grid header + h2 {
      margin-top: 0;
    }

    pre code {
      max-height: 80vh;
      overflow-y: auto
    }
  </style>

  <script>
  {% include "includes/switcher.js" %}
  {% include "includes/menu.js" %}
  </script>

</head>
<body class="{% if bodyClass %}{{ bodyClass }}{% endif %}">
  <script>
    if (navigator.appVersion.indexOf("Win") != -1) {
      document.body.classList.add('ms-windows');
    }
  </script>

  <!-- Current page: {{ page.url | url }} -->

  <a href="#main-content" tabindex="1" class="inline-block m-1 visually-hidden">Skip to main content</a>

  <div class="container w-max-100vw">
    <div class="h-100-dvh grid">

      {% include "includes/site-nav.njk" %}

      <div class="md:col-2">
        <article>
          <div class="grid gap-2">
            <header id="article-title" class="lg:col-1">
              <div class="wrapper-md pt-4 t-big t-center">
                <h1 class="t-semibold">{{ mainHeading }}</h1>
              </div>
            </header>
          
            <nav id="toc" class="lg:col-2 lg:row-1 lg:row-span-3">
              <div class="sticky top w-sm h-max-100dvh mx-auto px-2 overflow-y">
                <p class="h4 t-semibold">Contents</p>
                {{ content | toc | safe }}
              </div>
            </nav>

            <main id="article-content" class="lg:col-1">
              <div class="content-grid">
                {{ content | safe }}
              </div>
            </main>

            <footer class="lg:col-1 content-grid">
              <nav class="popout mt-3 mb-2 b-1 r-pill p-cell popout">
                <ul class="m-0 unlist p-0 grid gap-2 sm:equal-2-cols">
                  {% if prevPage %}
                  <li class="my-1 flex flex-middle gap-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 256 256"><path d="M224,128a8,8,0,0,1-8,8H59.31l58.35,58.34a8,8,0,0,1-11.32,11.32l-72-72a8,8,0,0,1,0-11.32l72-72a8,8,0,0,1,11.32,11.32L59.31,120H216A8,8,0,0,1,224,128Z"></path></svg>
                    <a href="{{ prevPage | url }}"> {{ prevLink if prevLink else "Previous page" }}</a>
                  </li>
                  {% endif %}
                  {% if nextPage %}
                  <li class="sm:col-2 my-1 flex flex-middle flex-end gap-1">
                    <a href="{{ nextPage | url }}">{{ nextLink if nextLink else "Next page" }}</a>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 256 256"><path d="M221.66,133.66l-72,72a8,8,0,0,1-11.32-11.32L196.69,136H40a8,8,0,0,1,0-16H196.69L138.34,61.66a8,8,0,0,1,11.32-11.32l72,72A8,8,0,0,1,221.66,133.66Z"></path></svg>
                  </li>
                  {% endif %}  
                </ul>
              </nav>
              <div class="p-2 flex flex-center t-center">
                <a href="{{ '/' | url }}" class="h3 m-0 t-normal flex flex-column flex-center gap-1 t-noline">
                  <svg class="mx-auto" height="48" width="48" viewBox="0 0 111 111" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-miterlimit:1.5">
                    <g transform="translate(-294.592 -94.592)">
                      <circle cx="350" cy="150" r="50" style="fill:none;stroke:currentColor;stroke-width:4px"/>
                      <path d="M294.167 180H320v-65.833" style="fill:none;stroke:currentColor;stroke-width:4px" transform="translate(10 -10)"/>
                      <path d="M405.833 180H380v-65.833" style="fill:none;stroke:currentColor;stroke-width:4px" transform="translate(-10 -10)"/>
                      <circle cx="350" cy="150" r="30" style="fill:none;stroke:currentColor;stroke-width:6px" transform="matrix(.66667 0 0 .66667 116.667 50)"/>
                      <path d="M310 180h80" style="fill:none;stroke:currentColor;stroke-width:4px"/>
                      </g>
                    </svg>
                  <span class="t-nowrap">{{ metadata.title }}</span>
                </a>
              </div>

              <p class="p-cell flex flex-center flex-wrap gap-2 t-center">
                <span><a class="t-noline hover:t-line" href="https://raw.githubusercontent.com/SimonPadbury/baselayer-3/main/_src/css/min/baselayer.min.css">Download CSS</a> ({{ metadata.filesize }})</span>
                <span>Version: {{ metadata.version }}</span>
                <a class="t-noline hover:t-line" href="https://github.com/SimonPadbury/baselayer-3">GitHub Repository</a>
                <a class="t-noline hover:t-line" href="https://github.com/SimonPadbury/baselayer-3/blob/main/LICENSE">MIT license</a>
              </p>
              <p class="t-center"><span>Developer: <a class="t-noline hover:t-line" href="{{ metadata.developer.url }}">{{ metadata.developer.name }}</a></span>
            </footer>
          </div>
        </article>
      </div>

    </div>
  </div>

</body>
</html>