<div id="site-nav" class="bg-gray bg-800">
  <div class="sticky top h-max-100dvh overflow-y">
    <div class="p-cell t-center">
      <a id="site-title" href="{{ '/' | url }}" class="h3 m-0 py-1 t-normal flex flex-center flex-middle flex-wrap gap-1 t-gray t-100 hover:t-200 t-noline">
        <svg height="48" width="48" viewBox="0 0 111 111" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-miterlimit:1.5">
          <g transform="translate(-294.592 -94.592)">
            <circle cx="350" cy="150" r="50" style="fill:none;stroke:currentColor;stroke-width:4px"/>
            <path d="M294.167 180H320v-65.833" style="fill:none;stroke:currentColor;stroke-width:4px" transform="translate(10 -10)"/>
            <path d="M405.833 180H380v-65.833" style="fill:none;stroke:currentColor;stroke-width:4px" transform="translate(-10 -10)"/>
            <circle cx="350" cy="150" r="30" style="fill:none;stroke:currentColor;stroke-width:6px" transform="matrix(.66667 0 0 .66667 116.667 50)"/>
            <path d="M310 180h80" style="fill:none;stroke:currentColor;stroke-width:4px"/>
            </g>
          </svg>
        <span class="t-nowrap">{{ metadata.title }}</span>
      </a>
      <p class="mb-1 t-gray t-400">Version: {{ metadata.version }} • <a class="t-gray t-100 hover:t-200 t-noline hover:t-line" href="https://github.com/SimonPadbury/baselayer-4">GitHub</a></p>
      <p class="mb-1 t-gray t-400"><a class="t-gray t-100 hover:t-200 t-noline hover:t-line" href="https://raw.githubusercontent.com/SimonPadbury/baselayer-3/main/_src/css/min/baselayer.min.css">Download CSS</a> ({{ metadata.filesize }})</p>
    </div>

    <nav role="menu">
      <button type="button" id="site-nav-toggle" aria-expanded="false" aria-label="Menu" aria-controls="site-nav-menu" class="absolute top right m-2 md:hidden">
        Menu
      </button>

      <div id="site-nav-menu" class="w-xs mx-auto t-center t-white">
        <div class="my-2 p-cell flex flex-column gap-1">
          <a class="block p-cell t-gray t-100 hover:t-200" {% if page.url == '/' %} aria-current="page"{% endif %} href="{{ '/' | url }}">Introduction</a>
          <a class="block p-cell t-gray t-100 hover:t-200" {% if 'typography' in page.url %} aria-current="page"{% endif %} href="{{ '/typography/' | url }}">Typography</a>
          <a class="block p-cell t-gray t-100 hover:t-200" {% if 'layout' in page.url %} aria-current="page"{% endif %} href="{{ '/layout/' | url }}">Layout</a>
          <a class="block p-cell t-gray t-100 hover:t-200" {% if 'decoration' in page.url %} aria-current="page"{% endif %} href="{{ '/decoration/' | url }}">Decoration</a>
          <a class="block p-cell t-gray t-100 hover:t-200" {% if 'colors' in page.url %} aria-current="page"{% endif %} href="{{ '/colors/' | url }}">Colors</a>
          <a class="block p-cell t-gray t-100 hover:t-200" {% if 'forms' in page.url %} aria-current="page"{% endif %} href="{{ '/forms/' | url }}">Forms</a>
          <a class="block p-cell t-gray t-100 hover:t-200" {% if 'buttons' in page.url %} aria-current="page"{% endif %} href="{{ '/buttons/' | url }}">Buttons</a>
          <a class="block p-cell t-gray t-100 hover:t-200" href="{{ '/examples/' | url }}">Examples</a>
        </div>

        <div class="mb-2 p-cell">
          <button class="w-100% mb-1 p-1 flex flex-column gap-1 bg-gray bg-600 hover:bg-700" onclick="toggleFont()">
            <div class="label-base w-100% flex flex-middle gap-1">
              <div class="check-box flex flex-center flex-middle t-black bg-white"></div>
              <div class="grow t-left">Base font</div>
            </div>
            <div class="label-prose w-100% flex flex-middle gap-1">
              <div class="check-box flex flex-center flex-middle t-black bg-white"></div>
              <div class="grow t-left">Prose font</div>
            </div>
          </button>

          <button class="w-100% mb-1 p-1 flex flex-column gap-1 bg-gray bg-600 hover:bg-700" onclick="toggleFS()">
            <div class="label-normal w-100% flex flex-middle gap-1">
              <div class="check-box flex flex-center flex-middle t-black bg-white"></div>
              <div class="grow t-left">Normal font-size</div>
            </div>
            <div class="label-longread w-100% flex flex-middle gap-1">
              <div class="check-box flex flex-center flex-middle t-black bg-white"></div>
              <div class="grow t-left">Long read font-size</div>
            </div>
          </button>

          <button class="w-100% mb-1 p-1 flex flex-column gap-1 bg-gray bg-600 hover:bg-700" onclick="toggleTheme()">
            <div class="label-light w-100% flex flex-middle gap-1">
              <div class="check-box flex flex-center flex-middle t-black bg-white"></div>
              <div class="grow t-left">Light theme</div>
            </div>
            <div class="label-dark w-100% flex flex-middle gap-1">
              <div class="check-box flex flex-center flex-middle t-black bg-white"></div>
              <div class="grow t-left">Dark theme</div>
            </div>
          </button>
        </div>

      </div>
    </nav>
  </div>
</div>